html {background-color:black;
	
	}

body {background: url(image/old.png) no-repeat center center fixed; 
		
	}
	.page-wrapper {
position: relative;
width: 600px;
margin: 0 auto;
padding: 230px 0 350px 0;
font-size: 0.8em;
font-family: arial, sans serif;
background-color: black;
color: #00FF00;
text-align: left;
z-index: -1;
left:-250px;
}